<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.png">
    {{ $style := resources.Get "scss/global.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ $prism := resources.Get "css/prism.css" }}
    <link rel="stylesheet" href="{{ $prism.RelPermalink }}" />
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet"><!--merriweather default font-->
    {{ partial "head/meta.html" . }}
    {{ partial "seo/print.html" . }}
    {{ with .Params.forestry_instant_preview_id }}
      {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
    {{ end -}}
    <link rel="alternate" type="application/rss+xml" href="/index.xml" title="{{ .Site.Title }}' RSS Feed">
     {{ "<!-- PWAUpdate Script -->" | safeHTML }}
  <script type="module">
   import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
   const el = document.createElement('pwa-update');
   document.body.appendChild(el);
</script>
    {{ partial "head/umamianalytics.html" . }}
    {{ partial "head/jsonld.html" . }}
</head>
