{{ define "main" }}

<section class="section narrow">

    {{ partial "article/hero.html" . }}

    {{ partial "article/progress" . }}

    <article  id="articleContent" class="post-content" style="position:relative;">
        {{ .Content }}

        {{ partial "others/tags.html" . }}

        <br>
        
        <div align="center"><h5 style="color:#6166DC;">Share On: </h5>{{partial "others/share.html" .}}</div>
        {{ partial "others/webshare.html" . }}

    </article>

{{ partial "comments/commento.html" . }}

    {{ partial "article/next.html" . }}
</section>

{{ $script := resources.Get "js/progressBar.js" }}
 <script src="{{ $script.RelPermalink }}"></script>
{{ end }}
