<html lang="en">
  <head>
    <title>Hi! Take A Break and Draw!</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png">
    {{ partial "head/meta.html" . }}
    {{ partial "seo/print.html" . }}
    <link rel="alternate" type="application/rss+xml" href="/index.xml" title="{{ .Site.Title }}' RSS Feed">
     

<style>
  /* CSS files add styling rules to your content */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
    </style>

    <!-- import the webpage's javascript file -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwa-inking@1.0.3"
    ></script>
  <script type="module">
   import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
   const el = document.createElement('pwa-update');
   document.body.appendChild(el);
</script>
  </head>
  <body>
    
    <div align="center">
      <form action="https://ajulusthoughts2-1.netlify.app">
    <input type="submit" value="Home(Ajulu's Thought)↦" />
</form>
    </div>
    
        <inking-canvas name="myInkingCanvas">
        <inking-toolbar canvas="myInkingCanvas" horizontal="center">
            <inking-toolbar-pen></inking-toolbar-pen>
            <inking-toolbar-pencil></inking-toolbar-pencil>
            <inking-toolbar-highlighter></inking-toolbar-highlighter>
            <inking-toolbar-eraser></inking-toolbar-eraser>
            <inking-toolbar-copy></inking-toolbar-copy>
            <inking-toolbar-more></inking-toolbar-more>
        </inking-toolbar>
    </inking-canvas>
    
    <script>
// prints "hi" in the browser's dev tools console
console.log("hi! im stephen. looking for developers. email me: alunje73@gmail.com");
    </script>
  </body>
</html>
