{{ define "main" }}

<style>
  .column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>


<section class="section narrow" >
  
  <h1 class="article-hero-heading" align="center">{{ .Page.Params.Title }}</h1>
  
  <article  id="articleContent" class="post-content">
  
<div class="row">
  
    <div class="column">
<div class="gumroad-product-embed"><a href="https://gumroad.com/l/EEnXP">Gradient Wallpaper Pack 3 is Loading...(Click here if not loaded)</a></div>
  </div>
  
  <div class="column">
<div class="gumroad-product-embed"><a href="https://gumroad.com/l/OFKKu">Gradient Wallpaper Pack 2 is Loading...(Click here if not loaded)</a></div>
  </div>
  
    <div class="column">
<div class="gumroad-product-embed"><a href="https://gumroad.com/l/nIgIr">Gadient Wallpaper Pack 1 is Loading...(Click here if not loaded)</a></div>
  </div>
  

</div>

    </article>
</section>
<br>
&nbsp;
<br>

  <script src="https://gumroad.com/js/gumroad-embed.js"></script>
{{ end }}
