<br><div class="followmeinstagrambanner section narrow" style="align:center; justify-content:center; text-align:center;" align="center"><a title="Hey! I'm on Instagram as stephenajulu" href="https://www.instagram.com/stephenajulu"><img src="images/instagram_btn.jpg"></a></div><br>

{{ partial "newsletter/newsletter2convertkit.html" . }}

<div class="newsletter" align="center">
{{ partial "subscription/subscription2.html" . }}
</div>

<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text" style="font-family: DM Serif Display;font-weight:bold;">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        {{ partial "social-links/social-links.html" . }}
    </div>
</div>
