
<section id="articleNext" class="section nartrow">
    <div class="next-articles-grid">
        <div class="post-row">
            {{ range first 1 .Site.Taxonomies.tags.featured }}
                <a href="{{ .RelPermalink }}" class="article-link" id="article-link-biggest" style="max-width: 98%;">
                    <div>
                        <div class="image-container">
                            <img src="{{ .Params.hero }}" class="article-image" alt="{{ .Title }}"/>
                        </div>
                        <div>
                            <h2 class="article-title" align="center">
                                {{ .Title }}
                            </h2>
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    </div>
</section>
