<section id="articleHero" class="section narrow">
    <div class="article-hero">
        <header class="article-header" align="center">
            <h1 class="article-hero-heading">{{ .Page.Params.Title }} <sup>{{ partial "edit-posts/edit-on-github" . }}</sup></h1>
            <div class="article-hero-subtitle">
                <div class="article-meta" style="justify-content:center;text-align:center;align:center;">
                    {{ partial "article/authors.html" . }}
                    {{ .Page.Date.Format "January 2, 2006" }}
                </div>
            </div>
        </header>
        {{ with .Page.Params.hero }}
        <div class="article-hero-image" id="ArticleImage__Hero">
            <img src="{{ . }}" alt="">
            <br>
        </div>
        {{ end }}
    </div>
</section>
