{{$page := .Site.GetPage (.Get 0)}}
<section id="articleNext" class="section nartrow">
    <div class="footer-spacer"></div>
    <div class="next-articles-grid">
        <div class="post-row">
                <a href="{{ $page.RelPermalink }}" class="article-link" id="article-link-bigger">
                    <div>
                        <div class="image-container">
                            <img src="{{ $page.Params.hero }}" class="article-image" />
                        </div>
                        <div>
                            <h2 class="article-title" align="center">
                                {{ $page.Params.title }}
                            </h2>
                            <p class="article-excerpt">
                                {{ $page.Params.excerpt }}
                            </p>
                            <div class="article-metadata" align="center">
                                {{ $page.Date.Format "January 2, 2006" }} · {{ $page.ReadingTime }} min read
                            </div>
                        </div>
                    </div>
                </a>

        </div>
    </div>
</section>
