{{$page := .Site.GetPage (.Get 0)}}
<section id="articleNext" class="section nartrow" align="center" style="align:center; justify-content:center; border: 1px solid #6166DC; border-radius: 5px;">
    <div class="next-articles-grid">
        <div class="post-row">
                <a href="{{ $page.RelPermalink }}" class="article-link" id="article-link-bigger">
                    <div>
                        <div class="image-container">
                            <img src="{{ $page.Params.hero }}" class="article-image" />
                        </div>
                        <div>
                            <h2 class="article-title" align="center">
                                {{ $page.Title }}
                            </h2>
                            <p class="article-excerpt">
                                {{ $page.Summary }}
                            </p>
                        </div>
                    </div>
                </a>
        </div>
    </div>
</section>
