<style>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.98);
  padding-top: 60px;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: left;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #6166DC;
  display: block;
  transition: 0.3s;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color:white;">&times;</a>
  <h5><a href="/about" style="color:white;">About</a></h5>
  <h5><a href="https://stephenajulu.gumroad.com" style="color:white;">Store</a></h5>
  <h5><a href="https://stephenajulu.com"style="color:white;" >Personal Website</a></h5>
  <h5><a href="/contact" style="color:white;">Contact</a></h5>
  <h5><a href="/index.xml" style="color:white;">RSS Feed</a></h5>
  <h5><a href="/sitemap.xml" style="color:white;">Sitemap</a></h5>
  <h5><a href="https://ajulusanalytics.herokuapp.com/share/aUtkMXde/My%20Blog" style="color:white;">Analytics</a></h5>
</div>
<button style="font-size:30px;cursor:pointer" onclick="openNav()" class="icon-wrapper">{{ partial "icons/ui/menu-icon.html"}}</button>

<script>
/* Set the width of the side navigation to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.body.style.backgroundColor = "white";
}
</script>
